.container {
  width: 100%;
  padding: 0 2rem;
}

.containerMobile {
  width: 100%;
  padding: 0 0.5rem;
}

.main {
  padding: 0 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 0.5rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.descriptionMobile {
  margin: 0.5rem;
  line-height: 1;
  font-size: 0.8rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.gridMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
}

.cardMobile {
  margin: 0.25rem;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.table {
  border: 2px solid black;
}

.tableHeader {
  min-width: 15rem;
  font-size: 1.2rem;
}

.tableHeaderMobile {
  min-width: 5rem;
  font-size: 0.8rem;
}

.tableCell {
  font-size: 1.1rem;
  height: 2rem;
  padding: 0.4rem;
}

.tableCellMobile {
  font-size: 0.8rem;
  height: 1rem;
  padding: 0.2rem;
}

.tableCellSilver {
  background-color: silver;
}

.tableCellGold {
  background-color: gold;
}

.tableCellPrismatic {
  background-color: paleturquoise;
}

.buttonSilver {
  background-color: silver;
}

.buttonGold {
  background-color: gold;
}

.buttonPrismatic {
  background-color: paleturquoise;
}

.toggleLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.source {
  margin: 0.3rem;
  font-size: 1rem;
}
